BODY {
	SCROLLBAR-FACE-COLOR: #303030;
	SCROLLBAR-HIGHLIGHT-COLOR: #303030;
	SCROLLBAR-SHADOW-COLOR: #303030;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #303030;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #303030;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	background-image: url(/web/20030808220724im_/http://www.anymo.com:80/rh/img/bg.gif);
	text-decoration: none;


}

/*
     FILE ARCHIVED ON 22:07:24 Aug 08, 2003 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:05:44 May 30, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 925.326 (3)
  esindex: 0.012
  captures_list: 1512.201
  CDXLines.iter: 13.471 (3)
  PetaboxLoader3.datanode: 1049.398 (4)
  exclusion.robots.fetch: 563.67 (4)
  exclusion.robots: 564.867
  exclusion.robots.policy: 0.744
  RedisCDXSource: 3.911
  PetaboxLoader3.resolve: 2058.403 (2)
  load_resource: 2658.514
*/